body{
    background-color:burlywood;
}

h1{color:red}



*{
    font-style: italic;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 18px;
    

}
span{
    font-weight:bolder;
   
}
#wer{
    float: right;
    float:top;
}
.Head2{
      border:red 5px solid; 
      
}
span{
color:red   
}
.Head{
    background-color:yellow;
}
.Head3{
    background-color:green;
}