body {
    font-family: Tahoma;
    font-size: 18px;
}

menu ul {
    list-style: none;
    text-decoration: none;
}

menu ul li {
    list-style: none;
    text-decoration: none;
}

.naglowek {
    display: inline-block;
}