html {
    background: silver;
    font-family: Verdana;
    font-size: 18px;
}

h1 {
    font-size: 24px;
}

span {
    font-weight: bold;
}

.last {
    background: gold;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid red;
    border-left:  5px solid red;
    border-radius: 20px;
}

.first {
    background: gold;
}

.middle {
    border: 2px dashed blue;
}
.image{
    display: flex;
    justify-content: flex-end;
}
.image img {
    position: absolute;
}

.middle p:last-child {
    text-align: right;
    color: slategray;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: silver;
}

#first-span {
   color: green;
}
                
#last-span {
    color: red;
}