html{
    background-color: silver;
    font-family: Verdana;
    font-size: 18px;
}

div.first{
    background-color: gold;
}
div.last{
    background-color: gold;
}

h1{
    font-size: 24px
}
span{
    font-weight: bold
}

div.first span
{
    color: green;
}
div.last span{
    color: red;
}