body{
    margin: 0px;
}

h1{
    margin: 0;
    padding-top: 55px;
    text-align: center;
    font-size:  60px;
    font-family: Arial, Helvetica, sans-serif;
}

#naglowek{
    background-color: rgb(66, 87, 180);
    height: 200px;
    width: 100;
}

#menu{
    background-color: rgb(103, 123, 146);
    height: 600px;
    width: 20%;
    float: left;
}

#menu a p{
    display: block;
    padding: 5px 5px;
}

#glowna{
    background-color: rgb(128, 172, 253);
    height: 600px;
    width: 80%;
    float: left;
}

#div_in_div{
    width: 150px;
    background-color:  rgb(66, 87, 180); 
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}
#div_in_div > a{
    color: white;
}

#news_1{
    position: absolute;
    top: -28px;
    background-color: blue;
    left: -1px;
    padding: 5px 30px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#heder{
        display: flex;
        justify-content: space-between;
}

#div_1{
    position: relative;
    border: 1px dotted black;
    margin: 40px 30px;
    padding: 20px 20px;
}

#stopka{
    background-color: rgb(66, 87, 180);
    height: 60px;
    width: 100%;
    float: left;
}

#menu_text{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
}

a p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5px;
}
/*a>p:hover{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    padding: 5px;
}*/

a{
    text-decoration: none;
    color: black;
}

a > P:hover{
    color: rgb(66, 87, 180);
    background-color: red;
}


footer{
    text-align: right;
    padding: 20px;
}