.body 
{ 
    font-family: 'Times New Roman', Times, serif; 
}

.naglowek
{
    width: 800px;
    height: 150px;
    text-align: left;
    /*border: 1px solid grey;*/
    background-color: rgb(84, 84, 187);
    display: table-cell;
    vertical-align: middle;
}

h1
{
    text-align: center;
    font-size: 45px;
    color: white;
}

.menu
{
    float: left;
    height: 630px;
    width: 130px;
    text-align: left;
    /*border: 1px solid grey;
    border-top: none;
    border-bottom: none;*/
    background-color:  rgb(152, 152, 224);
    font-size: 20px;
    padding: 10px;
}

#h:hover
{
    background-color: rgb(84, 84, 187);
}

.tresc
{
    float: left;
    width: 620px;
    height: 620px;
    padding: 15px;
    text-align: left;
    /*border-right: 1px solid grey;*/
    background-color: rgb(208, 208, 236);
}

#n1
{
    font-size: 22px;
    background-color: rgb(84, 84, 187);
    width: 150px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

#n2
{
    font-size: 15px;
    width: 580px;
    padding: 20px;
    height: auto;
    border: 1px solid gray;
    
}

#p1
{
    float: left;
}

#p1 span
{
    font-weight: bold;
}

#p2
{
    float: right;
}

#p2 span
{
    font-style: italic;
}

#tekst
{
    clear: both;
}

#wiecej
{
    width: 150px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    background-color: rgb(84, 84, 187);
    color: white;
}

.stopka
{
    clear: both;
    width: 760px;
    height: 20px;
    padding-right: 40px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    /*border-top: 1px dashed grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;*/
    background-color: rgb(84, 84, 187);
    color: white;
}
