header {
    padding: 50px 0;
    background-color: rgb(70, 130, 180);
    text-align: center;

}

nav {
    width: 25%;
    height: 600px;
    float: left;
    background-color: rgb(176, 196, 221);
}

main {
    width: 75%;
    height: 600px;
    float: left;
    background-color: rgb(230, 242, 255);
}

footer {
    clear: both;
    height: 50px;
    background-color: rgb(70, 130, 180);
}

article {
    margin: 25px;
}


main a {
    background-color: rgb(70, 130, 180);
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

nav a {
    text-decoration: none;

    color: black;
}

article h2 {
    padding: 3px;
    background-color: rgb(70, 130, 180);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline;

}

article div {
    border: 1px solid gray;
    padding: 10px;
}

article div author {
    width: 50%;
    float: left;
}

article div time {
    float: right;
}

p {
    clear: both;
    padding-top: 15px;
}

.link {
    padding: 15px;

}

.link:hover {
    background-color: rgb(70, 130, 180);
}